*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #191816;
    display: flex;
    justify-content: center;

}

.imgCar{
    display: none;
}

.content{
    width: 375px;
    height: 100vh;
    padding: 10px;
    border: solid 1px white;
   
}

.mobileScreen{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobileScreen img{
    height: 30px;
}

.title section
{
    display: flex;
    
    color: #D4CCB6;
    font-family: 'Poppins', sans-serif;
    gap: 10px;
    font-size: 20px;
}

.title p{
    color: #AFB6C2;
    font-size: 17px;
}

.title{
   margin: 30px auto;
    
}



form input{
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #868686;
    background-color: #191816;
    font-family: 'Roboto';
}

form label{
    color: #AFB6C2;
    font-family: 'Poppins', sans-serif;
}

form ::placeholder{
    color: #A9AFB9;
    font-size: 14px;
    align-items: center;
 
}

input{
    color: #A9AFB9;
    font-size: 14px;
    padding-left: 30px;

}

#email{
    background-image: url(images/mail.svg);
    background-repeat: no-repeat;
    background-position: left 5px center;
}

#password{
    background-image: url(images/lock.svg);
    background-repeat: no-repeat;
    background-position: left 5px center;
}

#email:focus{
    background-image: url(images/mail-focus.svg);
}

#password:focus{
    background-image: url(images/lock-focus.svg);

}

form{
    display: flex;
    flex-direction: column;
    gap:20px
}

form button{
    padding: 12px 24px;
    border-radius: 4px;
    background: #FFC632;
    border: none;
}

.wraper input:focus{
    box-shadow: 0px 0px 0px 4px #FFC632;
   
}   

form p{
    color: #FFC632;
    text-align: center;
}

.remember{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember input{
    height: 20px;
    margin-right: 8px;
}

.remember section{
    display: flex;
    align-items: center;
    
}

.remember-me label{
    color: #FFC632;
    margin: 0px;
    white-space: nowrap;
}

.remember section label{
    color:#A9AFB9 ;
    font-size: 10px;
    padding: 0;
}

.wraper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #191816;
    border: 1px solid #868686;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 5px;
}


#remember-me:checked + .custom-checkbox{
    background-color: #FFC632;
    background-image: url(images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

@media (min-width:700px){
 
    .content{
        display: grid;
        grid-template-columns: 1fr 50vw;
        width: 100%;
        padding: 0;   
       
    }

    .imgCar{
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100vh;
        overflow: hidden;
        width: 100%;
    }

    .logoImg{
        padding: 30px;
    
    }

  
    .mobileScreen{
        width: 512px;
        display: flex;
        margin: 0 auto;
        border-radius: 5px;
        padding: 50px;
        background-color: #24221F; 
     
    }

    body{
        background-color: #191816;
    }
    
}