*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:40px;
    margin: 0 40px;
    align-items: center;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

header{
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

header input{
    border: none;
    padding: 8px;
}

.content{
    display: grid;
    grid-template-areas:
     "A B"
     "C C";
    grid-template-columns: 1fr 2fr;
}

.details{
    background-color: #ECECED;
    grid-area: A;
    display: flex;
    padding: 50px 120px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  
}

.details h1{
    font-size: 60px;
}

.details p{
   color: #9C9696;
   font-size: 16px;
}

.details h2{
    font-size: 40px;
}

.details button{
    width: 274px;
    height: 90px;
    background-color: #F00;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
}

.productImages{
    background-color: #C4C4C4 ;
    grid-area: B;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.productImagesDetails{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.productImages img{
  padding-top: 50px;
}

.img1{
    width: 600px;
    margin: 0 auto;
}

.img2, .img3, .img4{
    display: flex;
    gap: 10px;  
}

.links ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr; 

}

.links ul li{
    list-style: none;
    height: 166px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.explore{
    background-color: #000;
    color: #ECECED;
}

.links{
    grid-area: C;
    background-color: #ECECED;
}